[submodule "vendor/ontwerp"]
	path = vendor/ontwerp
	url = https://github.com/floriskappen/ontwerpsysteem.git
	branch = release
[submodule "vendor/byom"]
	path = vendor/byom
	url = https://github.com/floriskappen/bring-your-own-model.git
